#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-create-point header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* O span só aparece depois que seu tamanho é definido */
#page-create-point header a span {
    margin-right: 16px;
    background-image: url(/icones/arrow-left.svg);
    display: flex;
    width: 20px;
    height: 24px;
}

form {
    background-color: white;
    margin: 80px auto;
    padding: 64px;
    border-radius: 8px;
    max-width: 730px;
    
}

form h1 {
    font-size: 36px;

}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 24px;
}

form .field {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input, form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    outline: none; /* borda do input após o clique*/
    border-radius: 8px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field { /*referência aos campos endereço e número, que estão juntos, e são os únicos que estao seguidos do outro. Intenção aqui de separá-los. Antes do "+" fazemos a referencia ao endereço, mas o estilo só é aplicado ao elemento após o "+" */
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}

.items-grid {
    display: grid; /* esse display permite criar linhas e colunas, diferentemente do flex que é unilateral*/
    grid-template-columns: 1fr 1fr 1fr ; /* fr --> fração*/
    gap: 16px; /* espaçamento especial da tag "grid" que da espaço entre os grids criados */
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height: 180px;
    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    cursor: pointer; /* maozinha de clique */
}

.items-grid li span {
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.items-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img, .items-grid li span {
    pointer-events: none; /* no js criamos um evento de clique para os li's. Essa parte faz com que nao existe um evento de clique para a imagem e o texto, entao o evento de clique ocorre quando clicamos sobre qualquer espaço dentro do li */
}
